In [29]:
#Importe de todas as classes do Pandas
import pandas as pd

In [30]:
s = pd.Series([4, 8, 9, 63, 9, 80])
s

0     4
1     8
2     9
3    63
4     9
5    80
dtype: int64

In [31]:
s.index

RangeIndex(start=0, stop=6, step=1)

In [32]:
s.values

array([ 4,  8,  9, 63,  9, 80], dtype=int64)

In [33]:
arr = pd.Series([4, '8', 9, '63', '9', '80'], index=['a', 2, 'c', 'd', 'e', 'f'])
arr

a     4
2     8
c     9
d    63
e     9
f    80
dtype: object

In [34]:
s[3]

63

In [35]:
arr['f']

'80'

In [36]:
s[3] == arr['f']

False

In [37]:
arr[['a', 'd', 'f']]

a     4
d    63
f    80
dtype: object

In [39]:
s[s > 50]

3    63
5    80
dtype: int64

In [42]:
s + 10

0    14
1    18
2    19
3    73
4    19
5    90
dtype: int64

In [56]:
nomes = pd.Series(['Flavio', 'Leo', 'Thiago Artista', 'Hector', 'Renner', 'Lara'])

In [57]:
'Lara' in nomes.values

True

In [55]:
nomes.values

array(['Flavio', 'Leo', 'Thiago Artista', 'Hector', 'Renner'],
      dtype=object)

In [62]:
j = {
    'Flavio':34,
    'Leo':2,
    'Artista':100,
    'Renner':12,
    'Lara':74
}
nomes_2 = pd.Series(j)
nomes_2

Flavio      34
Leo          2
Artista    100
Renner      12
Lara        74
dtype: int64

In [63]:
nomes_2['Leo']

2

In [64]:
data = {
    'state': ['SP', 'MG', 'PA', 'PR', 'TO'],
    'year':  [1759, 1732, 1989, 1836, 1994],
    'pop':   [5.7,  4.9,  3.0,  3.8,  2.3]
}
df = pd.DataFrame(data)

In [65]:
df.head()

  state  year  pop
0    SP  1759  5.7
1    MG  1732  4.9
2    PA  1989  3.0
3    PR  1836  3.8
4    TO  1994  2.3

In [77]:
df['pop']

pandas.core.series.Series

In [72]:
df['pop'].min()

2.3

In [73]:
df['pop'].max()

5.7

In [74]:
df['pop'].mean()

3.9400000000000004

In [75]:
df.head()

  state  year  pop
0    SP  1759  5.7
1    MG  1732  4.9
2    PA  1989  3.0
3    PR  1836  3.8
4    TO  1994  2.3

In [76]:
df.T.head()

          0     1     2     3     4
state    SP    MG    PA    PR    TO
year   1759  1732  1989  1836  1994
pop     5.7   4.9   3.0   3.8   2.3